

.active {
  background-color: #4CAF50;
}

.heading
{
    text-align :center;
    text-decoration: underline;
    color : red;
    text-decoration: underline;
}
.heading2
{
    text-align :left;
    text-decoration: underline;
    color :Grey;
    text-decoration: underline;
}
.quest
{
    text-align:left;
    color:black;
     text-shadow: red;
     font-size: 1.5em;
     text-decoration: underline;
}
.ans
{
text-align:left;
color:black;
text-align:justify;
font-size:100%;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
div {
  text-align: left;
}

p
{
text-align:justify;
font-size:100%;
text-align:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}

body{
  margin:0;
  background:#f2f2f2f;
}
.nav
{
  width:100%;
  background:#000033;
  height :80px;
}
ul li{
 float:left;
 margin-top:20px;
}
ul li a
{
  width:150px;
color :white;
display:block;
text-decoration:none;
font-size:20px;
text-align:center;
padding:10px;
border-radius:10px;
}

a:hover
{
  background:#669900;
}

ul li ul 
{
  background:000033;
}

ul li ul li{
  float:none;
}
ul li ul{
  display:none;
}
ul li:hover ul
{
  display:block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#000033 ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style-type: none;
}
li{
    float : right;
}
